.text {
    font-size: 14px;
    margin: 10px;
}

.btn {
    border-radius: 4px;
    padding: 3px;
    background-color: yellow;
}

.theme-light {
    color: darkred;
}

.btn.theme-light {
    background-color: antiquewhite;
}

.theme-dark {
    color: lightgoldenrodyellow;
}

.btn.theme-dark {
    background-color: darkred;
}