.root {
}

.tania-0 {
    border-color: 1px solid red;
}

.tania-1 {
    background-color: green;
}

.tania-2 {
    color: yellow;
}

.tania-3 {
    font-style: italic;
}

.tania-4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
