.root {
}

.light {
  background-color: whitesmoke;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.lightMode {
  background-color: pink;
  color: black;
}

.darkMode {
  background-color: purple;
  color: white;
}
